
 {% extends 'base.html' %}
 {% block conteudo %}
    
<table class="table">

    <tr>
        <th>ID</th>
        <th>Nome:</th>
        <th>Valor: </th>
        
       
        
    </tr>
    
{% for product in products %}
    <tr>
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.value}}</td>


       
     <td><a href="/market/{{product.id}}/"> comprar </a></td>
    </tr>
    {% endfor %}
  
  <button type="submit" href='/show'> Carrinho: {{request.session.li | length}}</button> 
  </table>
{% endblock %}